DATABASE_URL="file:../dev.db"
OPENAI_API_KEY="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"
NEXT_PUBLIC_BASE_PATH=""
AUTH_REQUIRED="false"
DEMO_USER_EMAIL="admin@trezze.ai"
DEMO_USER_PASSWORD="trezze123"
META_ACCESS_TOKEN=""
